<!--Template.-->
<!DOCTYPE html>
<html>
<head>
<style>
a.one:link {color:white; text-decoration: none; margin-left: 60px; margin-left: 60px;
  margin-right: 60px;

  margin-right: 60px;
}
a.one:visited {color:white;}
a.one:hover {color:#b30000;}
a.two:link {color:black;}
a.two:visited {color:black;}
a.two:hover {color:#b30000;}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

#first-section {
  border: 5px;    
  margin: 5% 45% 5% 45%;
}

.second-section {
  color:white;
  border: 15px;
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 20px;
}

div.container {
  width: 100%;
  border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body class="sansserif">

<div class="container">

<header>
    <scan class="one" target="_blank"><%= link_to "HOME", root_path %>
    </scan>  
    <scan><a href="home.html" class="one" target="_blank">
      WHAT I DO</a>
    </scan>  
    <scan class="one" target="_blank"><%= link_to "BLOG", about_path %>
    </scan>  
    <scan class="second-section">
      CONNECT
    </scan>
</header>
  
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "What I Do", root_path %></li>
    <li><%= link_to "Blog", about_path %></li>
    <li><a href="#" class="two" target="_blank">Connect</a></li>
  </ul>
</nav>

<article>
  <h1>What I Do</h1>
  <p>I did graduate work at Dalhousie University in climate and I web program in Ruby on Rails </p>
</article>

<footer>2018 Joan Currie</footer>
</div>

</body>
</html>

